@page "/cadastro"
<CabecalhoPagina/>
<div class="cadastro-container">
    <h2 class="cadastro-cabecalho">
        <i data-lucide="user-plus" class="cadastro-icone"></i>
        Novo usuário
    </h2>

    <!-- Acionar evento 'submit' no código C# p/ capturar os dados -->
    <form class="cadastro-form">
        <div class="form-grupo">
            <label class="form-label">Nome do usuário</label>
            <input type="text" class="form-input"/>
        </div>
        <div class="form-grupo">
            <label class="form-label">RA</label>
            <input type="number" class="form-input"/>
        </div>
        <div class="form-grupo">
            <label class="form-label">Curso</label>
            <select class="form-input">
                <option value="">Selecione...</option>
                <option>Desenvolvedor BackEnd</option>
                <option>Programação em Java</option>
                <option>Fundamentos de Python</option>
            </select>
        </div>
        <button type="submit" class="btn-cadastro">
            Cadastrar
        </button>
    </form>

</div>


<Rodape/>
@code {

}
