@page "/"
@using ProjetoWeb01.Components.Pages.Parciais

<PageTitle>HOME</PageTitle>
<CabecalhoPagina/>
<!--  Isso é comentário em html  -->
<main class="corpo-pagina">
    <div class="login-container">
        <div class="login-cabecalho">
            <h1 class="login-titulo">Acesso ao WIFI</h1>
            <p class="login-subtitulo">Sistema de gestão WIFI</p>
        </div>
        <form class="login-form">
            <!-- Aviso: Implementar validaçao de campos -->
            <div class="form-grupo">
                <label class="form-label">E-mail institucional</label>
                <div class="input-w">
                    <input type="email" id="email" class="form-input" placeholder="user@sp.senai.br"/>
                </div>
            </div>
            <div class="form-grupo">
                <label>Senha</label>
                <div class="input-w">
                    <input type="password" id="senha" class="form-input" placeholder="*******"/>
                </div>
            </div>
            <button type="button" id="btn-entrar" class="btn-login">
                Login
            </button>
        </form>
    </div>
</main>


<Rodape/>



