@page "/"
@using ProjetoWeb01.Components.Pages.Parciais

<PageTitle>HOME</PageTitle>
<div class="wrapper">
    <CabecalhoPagina />
    <!--  Isso é comentário em html  -->
    <TelaLogin />
    <Acesso />
    <Rodape />
</div>
