<h1 class="cabecalho">
    <i class="fa-solid fa-wifi"></i>
    <a class="link-cabecalho" href="/">Sistema de wi-fi SENAI Americana</a>
    <i class="fa-solid fa-wifi"></i>
</h1>

@code {

}
